{% load static %}

<footer class="footer">
        <div class="footer__block-first">
            <div class="container">
                <div class="row">
                    <nav class="footer__menu">
                        <a href="#!" class="footer__logo">
                            <img src="{% static 'img/logo-1.png' %}" alt="logo" class="footer__logo-img">
                            <img src="{% static 'img/logo-2.png' %}" alt="logo" class="footer__logo-img d-none">
                        </a>
                        <ul class="footer__nav-list">
                            <li><a href="#!" class="footer__nav-link">Главная</a></li>
                            <li><a href="#!" class="footer__nav-link">О курсах</a></li>
                            <li><a href="#!" class="footer__nav-link">Специалисты</a></li>
                            <li><a href="#!" class="footer__nav-link">О нас</a></li>
                            <li><a href="#!" class="footer__nav-link">Контакты</a></li>
                        </ul>
                        <div class="header__nav-block">
                            <a href="tel:+998998889977" class="header__block-link">
                                <span class="fas fa-phone-alt header__phone"></span>
                                +998 99 888 99 77
                            </a>
                            <a href="#!" class="header__block-link">
                                <i class="fas fa-calendar-alt header__calendar"></i>
                                <p class="header__link-span">с 09:00 - 20:00 <span class="header__span">Пн-Сб</span></p>
                            </a>
                        </div>
                    </nav>
                    <div class="footer__block">

                        <p class="footer__text">Lorem ipsum dolor
                            Commodo company in Uzbekistan</p>
                        <p class="footer__info">ООО «Oquv Markazi», лицензия №MD-86-8585-969874585
                            © 2021-2051</p>
                        <div class="block__social block__social-2">
                            <a href="#!" class="specialists__item-social"><span
                                    class="fab fa-google google google-2"></span></a>
                            <a href="#!" class="specialists__item-social"><span
                                    class="fab fa-instagram-square instagram instagram-2"></span></a>
                            <a href="#!" class="specialists__item-social"><span
                                    class="fab fa-telegram telegram telegram-2"></span></a>
                            <a href="#!" class="specialists__item-social"><span
                                    class="fab fa-facebook facebook facebook-2"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__block-last">
            <div class="footer__block-one">
                <a href="#!" class="footer__logo">
                    <img src="{% static 'img/logo-1.png' %}" alt="logo" class="footer__logo-img">
                    <img src="{% static 'img/logo-2.png' %}" alt="logo" class="footer__logo-img d-none">
                </a>
                <p class="footer__text footer__text-two">Lorem ipsum dolor
                    Commodo company in Uzbekistan</p>
            </div>
            <div class="footer__block-two">
                <div class="header__nav-block">
                    <a href="tel:+998998889977" class="header__block-link">
                        <span class="fas fa-phone-alt header__phone"></span>
                        +998 99 888 99 77
                    </a>
                    <a href="#!" class="header__block-link">
                        <i class="fas fa-calendar-alt header__calendar"></i>
                        <p class="header__link-span">с 09:00 - 20:00 <span class="header__span">Пн-Сб</span></p>
                    </a>
                </div>
                <div class="footer__block-right">
                    <h2 class="footer__social-title">Мы социальных сетях</h2>
                    <div class="block__social block__social-2">
                        <a href="#!" class="specialists__item-social"><span
                                class="fab fa-google google google-2"></span></a>
                        <a href="#!" class="specialists__item-social"><span
                                class="fab fa-instagram-square instagram instagram-2"></span></a>
                        <a href="#!" class="specialists__item-social"><span
                                class="fab fa-telegram telegram telegram-2"></span></a>
                        <a href="#!" class="specialists__item-social"><span
                                class="fab fa-facebook facebook facebook-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="footer__block-three">
                <p class="footer__text-last">ООО «Oquv Markazi»,© 2021-2051</p>
            </div>
        </div>

    </footer>
