{% load static %}

<header class="header">
    <div class="header__content-bg">
        <div class="container container-padding">
            <div class="header__content">
                <div class="cube"></div>
                <div class="cube cube2"></div>
                <div class="cube cube3"></div>
                <div class="cube cube4"></div>

                <div class="header__content-left">
                    <h1 class="header__content-title">Lorem ipsum dolor Commodo</h1>
                    <p class="header__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo
                        eu et mattis id pharetra et facilisi.</p>
                    <a href="#!" class="header__content-btn">Записаться на вебинар</a>
                </div>
                <div class="header__content-img">
                    <img src="{% static 'img/header.png' %}" alt="" class="header__img">
                </div>
            </div>
            <div class="header__content-block">
                <div class="header__content-item">
                    <h2 class="header__item-title">Курс хакида маълумот</h2>
                    <p class="header__item-text">Commodo eu et mattis id pharetra et facilisi.</p>
                </div>
                <div class="header__content-item">
                    <h2 class="header__item-title">Курс хакида маълумот</h2>
                    <p class="header__item-text">Commodo eu et mattis id pharetra et facilisi.</p>
                </div>
                <div class="header__content-item">
                    <h2 class="header__item-title">Курс хакида маълумот</h2>
                    <p class="header__item-text">Commodo eu et mattis id pharetra et facilisi.</p>
                </div>
            </div>
        </div>
    </div>
</header>
