{% load static %}

<nav class="nav">
    <div class="container padding-0">
        <div class="nav__content">
            <a href="#!" class="header__logo">
                <img src="{% static 'img/logo-1.png' %}" alt="logo" class="header__logo-img">
                <img src="{% static 'img/logo-2.png' %}" alt="logo" class="header__logo-img d-none">
            </a>

            <div class="nav__menu">
                <ul class="header__nav-list">
                    <li><a href="#!" class="header__nav-link">Главная</a></li>
                    <li><a href="#!" class="header__nav-link">О курсах</a></li>
                    <li><a href="#!" class="header__nav-link">Специалисты</a></li>
                    <li><a href="#!" class="header__nav-link">О нас</a></li>
                    <li><a href="#!" class="header__nav-link">Контакты</a></li>
                </ul>
                <div class="header__nav-block">
                    <a href="tel:+998998889977" class="header__block-link">
                        <span class="fas fa-phone-alt header__phone"></span>
                        +998 99 888 99 77
                    </a>
                    <a href="#!" class="header__block-link">
                        <i class="fas fa-calendar-alt header__calendar"></i>
                        <p class="header__link-span">с 09:00 - 20:00 <span class="header__span">Пн-Сб</span></p>
                    </a>
                    <div class="block__social block__social-nav">
                        <a href="#!" class="specialists__item-social"><span
                                class="fab fa-google google google-2"></span></a>
                        <a href="#!" class="specialists__item-social"><span
                                class="fab fa-instagram-square instagram instagram-2"></span></a>
                        <a href="#!" class="specialists__item-social"><span
                                class="fab fa-telegram telegram telegram-2"></span></a>
                        <a href="#!" class="specialists__item-social"><span
                                class="fab fa-facebook facebook facebook-2"></span></a>
                    </div>
                </div>
            </div>

            <a href="#!" class="bars">
                <span class="line"></span>
            </a>
        </div>
    </div>
</nav>
